* {
    margin: 0;
    padding: 0;
}

body {
    /*background-color: rgb(139, 84, 79);*/
    background: linear-gradient(rgb(230, 142, 134), rgb(193, 116, 109));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

img {
    border-radius: 20px;
    width: 300px;
    height: 400px;
}

h1,
h2,
h3,
h4,
h5,
.texto {
    color: aliceblue;
}

p{
    margin: 0 20vw;
    text-align: justify;
}

@media (max-width: 769px) {
    iframe {
        width: 300px;
        margin: 20px 0;
    }
}